@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 445px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #b9d0ee;
}
button{
    cursor: pointer;
}
.flex-wrapper{
    background: #b9d0ee;
    min-height: 100px;
    padding: 10px;
}
h1{
    width: 94%;
    color: #228c9f;
    text-align: center;
}
#delete-task-btn {
    background-color: #b9d0ee;
    color: #124d57;
    border: 1px solid #124d57;
    width: 100px;
    height: 20px;
}
#add-task-btn{
    background-color: #b9d0ee;
    color: #124d57;
    border: 1px solid #124d57;
    width: 100px;
    height: 20px;
}
.add-todo-wrapper{
    display: flex;
    width: 500px;
    min-height: 40px;
    align-items: center;
    padding: 10px;
}
.input-wrapper{
    margin: 0px 8px;
    height: 20px;
}
h2{
    width: 94%;
    color: #3f3fb0;
    text-align: center;
    margin:0 0 10px;
}
.text{
    width: 50%;
    display: flex;
    align-items: center;
    color: floralwhite;
}
.todo-item.checked .text{
    color: #124d57;
    text-decoration: line-through;
}
.todo-item.checked{
  opacity: 0.5;

}
.todo-item{
    display: flex;
    width: 94%;
    min-height: 50px;
    border: 1px solid #4a4aab;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #80acea;
}
.btn-delete{
    background-color: #b9d0ee;
    color: #2f2f72;
    border: 1px solid #4a4aab;
    width: 50px;

    cursor: pointer;
}
.date{
    position: relative;
    top: 22px;
    left: -69px;
    font-size: 10px;
}
.container{
    margin-left: auto;
    margin-right: auto;
}